ENVIRONMENT=local
LOG_LEVEL=INFO
BOT_TOKEN=your_telegram_bot_token_here
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=kelseir_db
REDIS_HOST=localhost
REDIS_PORT=6379
